{
  "max_words": 8000,
  "auto_sum": false,
  "white_url_list": [],
  "black_url_list": [
    "https://support.weixin.qq.com",
    "https://channels-aladin.wxqcloud.qq.com",
    "https://www.wechat.com",
    "https://channels.weixin.qq.com",
    "https://docs.qq.com",
    "https://work.weixin.qq.com",
    "https://map.baidu.com",
    "https://map.qq.com",
    "https://y.qq.com",
    "https://music.163.com"
  ],
  "black_group_list": [],
  "prompt": "我需要对下面的文本进行总结，总结输出包括以下三个部分：\n📖 一句话总结\n🔑 关键要点,用数字序号列出3-5个文章的核心内容\n🏷 标签: #xx #xx\n请使用emoji让你的表达更生动。",
  "cache_timeout": 300
}
